body {
	background: #2f3238;
	color: white;
}
#a1 {
				background-color: #2f3238;
				text-align: center;
				
				
			}


#a2 {
				background-color: #2f3238;
				text-align: center;
				position: relative;
				top: 20px;

				
			}


#a3 {
				background-color: #2f3238;
				text-align: center;
				position: relative;
				top: 30px;
				
				
			}			

#a4 {
				background-color: #2f3238;
				text-align: center;
				position: relative;
				top: 60px;
				
				
			}

#a5 {
				background-color: #2f3238;
				text-align: center;
				position: relative;
				top: 80px;
				
				
			}	
#a6{
				background-color: #2f3238;
				text-align: center;
				position: relative;
				top: 100px;
				
				
			}	

#a7 {
				background-color: #2f3238;
				text-align: center;
				position: relative;
				top: 120px;
				
				
			}	
#a8 {
				background-color: #2f3238;
				text-align: center;
				position: relative;
				top: 140px;
				
				
			}										

#a9 {
				background-color: #2f3238;
				text-align: center;
				position: relative;
				top: 160px;
				
				
			}			



p{
	position: relative;
	right: 400px;
	top: 75px; 
}